* {
    box-sizing: border-box;
}
.App {
  font-family: 'Assistant', sans-serif;
}

.Logo {
    flex-basis: 300px;
    justify-content: center;
    display: flex;
    align-items: center;
    background: #FFA000;
    color: #fff;
}
.Logo h1 {
    margin: 0;
    line-height: 1;
}
.Content {
    display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Navigation {
  flex: 0 0 300px;
  background: #F0F1F1;
  /* padding: 32px; */
}
.filter-group {
    padding: 32px;
    border-bottom: 1px solid #ddd;
}
.filter-group__title {
    margin-top: 0;
    color: #4e4e4e;
    display: flex;
}
.filter-group__icon {
    color: #448aff;
    padding-right: 16px;
    width: 32px;
}
.Header {
  display: flex;
  background: #fff;
}
.Projects__search {
    padding: 32px 48px;
    flex-grow: 1;
}
.search-bar {
    position: relative;
}
.search-icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    font-size: 24px;
    color: #dcdcdc;
}
.Projects {
  flex-grow: 1;
}
.Projects__list {
    background: #F8F8F8;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
}

.Project {
    flex: 1 1 20%;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
    border-radius: 4px;
    margin: 16px;
    text-align: left;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.Project__image {
    height: 100px;
    /* background: url('https://source.unsplash.com/random'); */
    background: #448AFF;
    background-size: cover;
}

.Project__name {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 8px 0;
    color: #4e4e4e;
}
.Project__description {
    padding: 16px;
    flex-grow: 1;
}
.Project__details {
    color: #7f7f7f;
}
.Project__labels {
    padding: 16px;
    border-top: 1px solid #ddd;
}
.Project__label {
    font-size: 13px;
    display: inline-block;
    padding: 2px;
    margin: 0 2px;
    color: #fff;
    background: #7f017f;
    border-radius: 1px;
}


input[type=text] {
    width: 100%;
    background-color: #FCFCFC;
    color: #7f7f7f;
    padding: 16px 16px 16px 48px;
    border: 1px solid #ddd;
    font-size: 18px;
    border-radius: 4px;
}
input[type=text]:focus {
    outline: 0;
    border-color: #0a8de9;
}
::-webkit-input-placeholder {
    color: #dcdcdc;
}
.filter {
    display: inline-block;
    border: 1px solid;
    padding: 4px;
    margin: 2px;
    padding: 4px;
    margin: 2px;
    border-radius: 2px;
    color: #777;
}
.filter:hover {
    cursor: pointer;
    background: #a0e0fd;
}
.filter.selected {
    background: #2196F3;
    color: #fff;
    border-color: #2196F3;
}
.g-connect-btn {
    margin: 0 auto;
    border: 0;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    background: #448AFF;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease-in-out 200ms;
}
.g-connect-btn:hover {
    background: #1976D2;
}
.g-connect-btn:focus {
    outline: none;
}
